/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{
	font-family:'FontAwesome';
	src:url('../fonts/fontawesome-webfont.eot?v=4.3.0');
	src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal
}

* { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.default { background-color: #eee; color: #333; border-radius: 0; }
.primary { background-color: #428bca; color: #fff; border-radius: 0;}
nav{
	width: 100%;
	height: 60px;
	background-color: #ddd;
	padding:10px 0px;
	margin: 0;
	margin-bottom: 10px; 

}
nav .username{
	font-size: 20px;
	font-family:sans-serif;
	margin-left: 20px;
}

#buttons {
	text-align: center;
}

/*stili i radio butonave*/
.radio { text-align: center;}
input[type="radio"] {
    display:none;

}
input[type="radio"] + label span {
    display: inline-block;
	width: auto 	;
	height: 36px;
	background-color: transparent;
	text-align: center;
	color: #333;
	line-height: 2.5;
	border: 1px solid #ccc;
	font-weight: normal;
	padding: 0 5px;
	min-width: 99px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

input[type="radio"]:checked + label span {
	background-color: #5cb85c;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 0;
	box-shadow: 0px 0px 0px 2px #5cb85c;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 0px 0px 3px #1C381C;
}

input[type="radio"]:checked + label span:after {
	font-family:'FontAwesome';
	content:"\f00c";
	padding: 0 2px;
}
h3 {
	
	width: auto;
	color:#00B9CC;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 25px;
}

#type:hover ~ form .radio {
	background-color: #ac9;
}