@import url(http://fonts.googleapis.com/css?family=Lato);


#alert {
	display: none;
	width: auto;
	border-radius: 3px ;
	margin: 0;
	padding: 0;
	background-color: #FDFDFD;
	font-family: 'Lato', sans-serif;
	z-index: 1000;
	position: fixed;
}

.t {
	position: fixed;
	bottom: 10px;
	left: 40%;
}

.b {
	position: fixed;
	bottom: 10px;
	left: 40%;
}

.bl {
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.br {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.tr {
	position: fixed;
	top: 10px;
	right: 10px;
}

.tl {
	position: fixed;
	top: 10px;
	left: 10px;
}



#alert .alertheader {
	width: 100%;
	height: 30px;
	border-radius: 3px 3px 0 0;
	padding: 0;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	color: #fff;
}

#alert .alertheader img {
	display: inline-block;
	float: left;
}

#alert .alertheader h3 
{
	margin: 0;
	padding: 2px;
	font-size: 18px;
	font-weight: normal;
	display: inline;
	line-height: 1.5;
	color: #fff;
	display: inline;
}

#alert .alertheader .alertclose {
	padding: 5px;
	text-align: center;
	float: right;
	color: rgba(0,0,0,0.3);
	width: 30px;
	background-color: rgba(0,0,0,0.1);
	font-weight: bold;
	border-radius: 0 3px 0 0;
	cursor: pointer;
	word-wrap: break;
	line-height: 1.5;
}

#alert .alertbody {
	width: 100%;
	height: auto;
	padding: 10px;
	word-break: break-all;
}

#alert .alertbody p
{
	background-color: transparent;
	color: #333;
	padding: 20px;
	margin: 0;
	
	display: inline-block;
	width: auto;
	max-width: 300px;

}

.danger {
	background-color: #d9534f;
	color: #fff;
}

.warning {
	background-color: #f0ad4e;;
	color: #fff;
}

.info {
	background-color: #5bc0de;
	color: #fff;
}

.success {
	background-color: #5cb85c;
	color: #fff;
}

.default {
	background-color: #428bca;
	color: #fff;
}